aiogram==2.9.2
aiohttp==3.6.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.1.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
django-easycart==0.4.0
idna==2.10
multidict==4.7.6
mypy-extensions==0.4.3
pathspec==0.8.0
pytelebot==0.0.1
pyTelegramBotAPI==3.7.3
pytz==2020.1
requests==2.7.0
six==1.15.0
telebot==0.0.3
toml==0.10.1
yarl==1.5.1
